# =========================
# Valheim Server
# =========================

# Mundos / partidas
config/worlds/
config/worlds_local/

# Datos generados por el servidor
data/

# Backups
config/backups/
backups/

# Logs
config/logs/
logs/

# Ignoramos del mod
*.log

# BepInEx generado / caché
config/bepinex/cache/
config/bepinex/logs/
config/bepinex/interop/
config/bepinex/Unity.IL2CPP/
config/bepinex/patchers/

# Plugins descargados / binarios
config/bepinex/plugins/

# Temporales
tmp/
temp/

# Sistema
.DS_Store
Thumbs.db

# Ignoramos del mode de RunicCharacter los saves.
config/bepinex/RunicCharacterVault/characters/
config/bepinex/RunicCharacterVault/characters/enrollment-backups/


config/prefs
